<!DOCTYPE html>
<html>
<head>
  <title>Frankenapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <p>Signed in as: <%= current_user.email %></p>

    <%= form_tag '/users/sign_out', method: :delete do %>
        <button>Sign Out</button>
    <% end %>

<% end %>

<%= yield %>

</body>
</html>
